<div class="users-container">
    <h1>Edit users:</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td><input [(ngModel)]="newUser.username" class="form-control" placeholder="Username" ></td>
                    <td><input [(ngModel)]="newUser.password" type="password" class="form-control" placeholder="Password" ></td>
                    <td><input [(ngModel)]="newUser.name" class="form-control" placeholder="Name" ></td>
                    <td><input [(ngModel)]="newUser.surname" class="form-control" placeholder="Surname"></td>
                    <td><input [(ngModel)]="newUser.role" type="number" class="form-control" placeholder="Role"></td>
                    <td>
                        <button (click)="addUser()" class="btn btn-add">Add</button>
                    </td>
                </tr>
                <tr *ngFor="let user of users; let i = index">
                    <td>
                        <a *ngIf="user.id !== undefined" (click)="navigateToUser(user.id)">{{ user.id }}</a>
                    </td>
                
                    <td><input [(ngModel)]="user.username" class="form-control" placeholder="Username" ></td>
                    <td><input [(ngModel)]="user.password" type="password" class="form-control" placeholder="Password" ></td>
                    <td><input [(ngModel)]="user.name" class="form-control" placeholder="Name" ></td>
                    <td><input [(ngModel)]="user.surname" class="form-control" placeholder="Surname"></td>
                    <td><input [(ngModel)]="user.role" type="number" class="form-control" placeholder="Role"></td>
                    
                    <td>
                        <button (click)="updateUser(user)" class="btn btn-success">Save</button>
                        <button (click)="onDeleteUser(user.id)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
