:host {
	display: block;
}
.responsive-img {
	max-height: 204px;
}
.text-white {
	color: #ffffff;
}
.list-menu {
	color: #ffffff;
	width: 100%;
	text-align: center;
}
mat-drawer-container {
	height: calc(100vh - 56px);
}

@media only screen and (min-width: 599px) {
	mat-drawer-container {
		height: calc(100vh - 64px);
	}
}
