<div class="questions-container">
    <mat-icon matListIcon>help</mat-icon>
    <div style="width: 100%; padding: 10px; box-sizing: border-box;">
        <input type="text" [(ngModel)]="newQuestionText" placeholder="Enter new question">
        <button (click)="addNewQuestion()">Add Question</button>
    </div>
    <div class="active-questions">
        <h2>Active Questions</h2>
        <ul>
            <li *ngFor="let question of activeQuestions">
                <span *ngIf="!question.editing; else editMode">
                    <img *ngIf="question.qrCodeURL" [src]="question.qrCodeURL" alt="QR Code" class="qr-code">
                    <span [routerLink]="['/', question.question_code]" routerLinkActive="router-link-active">{{ question.text }}</span>
                    <button (click)="toggleEditMode(question)">
                        <mat-icon matListIcon>edit</mat-icon>
                    </button>
                    <button (click)="showQRCode(question)"> <mat-icon matListIcon>art_track</mat-icon> </button>
                    <button (click)="copyQuestion(question)">
                        <mat-icon matListIcon>file_copy</mat-icon>
                    </button>
                    <button (click)="deleteQuestion(question)">
                        <mat-icon matListIcon>delete</mat-icon>
                    </button>
                    <button (click)="deactivateQuestion(question)">
                        <mat-icon matListIcon>close</mat-icon>
                    </button>


                </span>
                <ng-template #editMode>
                    <textarea [(ngModel)]="question.text"></textarea>
                    <button (click)="saveEditedQuestion(question)">
                        <mat-icon matListIcon>file_copy</mat-icon>
                    </button>
                </ng-template>
            </li>
        </ul>
    </div>
    <div class="historical-questions">
        <h2>Historical Questions</h2>
        <ul>
            <li *ngFor="let question of historicalQuestions">
                <span *ngIf="!question.editing; else editMode">
                    {{ question.text }}
                    <button (click)="toggleEditMode(question)">
                        <mat-icon matListIcon>edit</mat-icon>
                    </button>
                    <button (click)="copyQuestion(question)">
                        <mat-icon matListIcon>file_copy</mat-icon>
                    </button>
                    <button (click)="deleteQuestion(question)">
                        <mat-icon matListIcon>delete</mat-icon>
                    </button>
                    <button (click)="activeQuestion(question)">
                        <mat-icon matListIcon>check</mat-icon>
                    </button>

                </span>
                <ng-template #editMode>
                    <textarea [(ngModel)]="question.text"></textarea>
                    <button (click)="saveEditedQuestion(question)">
                        <mat-icon matListIcon>file_copy</mat-icon>
                    </button>
                </ng-template>
            </li>
        </ul>
    </div>
</div>
