<div class="questions-container">
  <mat-card class="new-question-card">
    <mat-card-header>
      <mat-card-title>Nová otázka</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Text otázky</mat-label>
        <input matInput type="text" [(ngModel)]="newQuestionText" placeholder="Zadajte novú otázku">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Predmet</mat-label>
        <mat-select [(ngModel)]="newQuestionSubjectId" disabled>
          <mat-option [value]="newQuestionSubjectId">Predmet {{ newQuestionSubjectId }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Typ otázky</mat-label>
        <mat-select [(ngModel)]="newQuestionType" (selectionChange)="addAnswerField()">
          <mat-option [value]="QuestionType.SINGLE_CHOICE">Jedna odpoveď</mat-option>
          <mat-option [value]="QuestionType.MULTIPLE_CHOICE">Viacero odpovedí</mat-option>
          <mat-option [value]="QuestionType.TEXT">Text</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="newQuestionType !== QuestionType.TEXT">
        <div *ngFor="let answer of newQuestionAnswers; let i = index" class="answer-input">
          <mat-form-field appearance="fill">
            <mat-label>Text odpovede</mat-label>
            <input matInput type="text" [(ngModel)]="answer.answer" placeholder="Text odpovede" (input)="addAnswerField()">
          </mat-form-field>
          <mat-checkbox [(ngModel)]="answer.correct">Správna</mat-checkbox>
        </div>
      </div>

      <div *ngIf="newQuestionType === QuestionType.TEXT">
        <div class="answer-input">
          <mat-form-field appearance="fill">
            <mat-label>Text odpovede</mat-label>
            <input matInput type="text" [(ngModel)]="newQuestionAnswers[0].answer" placeholder="Text odpovede">
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button color="primary" (click)="addNewQuestion()">Pridať otázku</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="active-questions-card">
    <mat-card-header>
      <mat-card-title>Aktívne otázky</mat-card-title>
      <button mat-raised-button color="accent" (click)="exportQuestions()">Exportovať otázky</button>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li *ngFor="let question of activeQuestions">
          <span *ngIf="!question.editing; else editMode">
            <img *ngIf="question.qrCodeURL" [src]="question.qrCodeURL" alt="QR kód" class="qr-code">
            <span [routerLink]="['/', question.question_code]" routerLinkActive="router-link-active">{{ question.text }}</span>

            <button mat-icon-button (click)="showQRCode(question)">
              <mat-icon>art_track</mat-icon>
            </button>
            <button mat-icon-button (click)="copyQuestion(question)">
              <mat-icon>file_copy</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteQuestion(question)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button (click)="deactivateQuestion(question)">
              <mat-icon>close</mat-icon>
            </button>
          </span>
          <ng-template #editMode>
            <textarea [(ngModel)]="question.text"></textarea>
            <button mat-icon-button (click)="saveEditedQuestion(question)">
              <mat-icon>save</mat-icon>
            </button>
          </ng-template>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="historical-questions-card">
    <mat-card-header>
      <mat-card-title>História otázok</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li *ngFor="let question of historicalQuestions">
          <span *ngIf="!question.editing; else editMode">
            {{ question.text }}
            <button mat-icon-button (click)="copyQuestion(question)">
              <mat-icon>file_copy</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteQuestion(question)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button (click)="activeQuestion(question)">
              <mat-icon>check</mat-icon>
            </button>
          </span>
          <ng-template #editMode>
            <textarea [(ngModel)]="question.text"></textarea>
            <button mat-icon-button (click)="saveEditedQuestion(question)">
              <mat-icon>save</mat-icon>
            </button>
          </ng-template>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
