<div class="container1">
    <form action="#">
      <h2>Registrácia</h2>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="surname">Surname:</label>
      <input type="text" id="surname" name="surname" required>
      <button type="submit">Registrovať sa</button>
    </form>
  </div>