<div class="container1">
  <mat-icon matListIcon>person_add</mat-icon>
    <form (ngSubmit)="register()">
      <h2>Registrácia</h2>
      <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="credentials.username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="credentials.password" name="password" required>

    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="credentials.name" name="name" required>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" [(ngModel)]="credentials.surname" name="surname" required>

    <button type="submit">Registrovať sa</button>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>

    </form>
  </div>
